.wrapper{
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h1{
        text-align: center;
        font-size: 158px;        
        color: #fff;
    }
    h3{
        text-align: center;
        font-size: 40px;
        color: #ddd;        
    }
    a.button{
        display: block;
        width: max-content;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}